<h2>[Furniture EC]　{{fullname}}様　ご注文の確認メール</h2>
<br>
<p>
{{fullname}} 様
<br>
この度は、数あるネットショップの中から当店を選んでいただきありがとうございます。<br>
スタッフ一同大変嬉しく思っております。
<br>
<br>
お客様のご注文を以下の内容で承りました。<br>
ご確認いただき、内容に誤りなどございましたらお知らせください。
<p>
<br>
<br>
<p>
──────────────<br>
■ご注文内容■<br>
〔ご注文番号〕<br>
〔ご注文日時〕<br>
〔お支払い方法〕<br>
<br>
〔商品名〕<br>
〔商品代金〕<br>
〔送料〕{{shippingFeeAmount}}円<br>
〔合計〕{{totalAmount}}円<br>
──────────────<br>
</p>
<br>
<br>
<p>
【クレジットカード決済のお客様】<br>
合計金額をクレジットカード会社より後日請求させていただきます。<br>
<br>
【代引き決済のお客様】<br>
商品お届けの際に合計金額を配送員にお支払いください。<br>
<br>
【コンビニ決済のお客様】<br>
コンビニ決済の方は金額に「手数料」が含まれております。<br>
手数料を含めたお代金をコンビニでお支払い下さい。<br>
お支払完了後、確認の上商品を発送させていただきます。<br>
<br>
【銀行振込（前払い）決済のお客様】<br>
下記口座に合計金額をお振込みください。<br>
ご入金確認後、発送手配致します。<br>
<br>
[振込口座先銀行]　○○銀行<br>
[支店名]　○○○支店<br>
[口座種別・番号]　普通 12345678<br>
[口座名]　○○○○○株式会社<br>
<br>
指定日の無い方は最短で出荷をさせて頂きます。<br>
発送致しましたら、再度ご連絡差し上げますので<br>
今しばらくお待ち下さい。<br>
<br>
引き続き、どうぞよろしくお願い申し上げます。<br>
</p>